# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!bravia.conf
!/www/
!/www/*
!/www/custom-lovelace/
!/www/custom-lovelace/*
!/www/custom-lovelace/simple-thermostat/
!/www/custom-lovelace/simple-thermostat/*
!/www/custom-lovelace/weather-card/
!/www/custom-lovelace/weather-card/*
!/themes/
!/themes/*
!/automation/
!/automation/*

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
dimmer.py
